<div #rootElement [class.allow-text-select]="appSettings.allSettings.allowTextSelection">
  <ion-header #header no-border class="{{inFullscreen ? 'fullscreen' : ''}} {{enableImmersive ? 'immersive': ''}}">
    <ion-navbar [style.color]="settings.color" [style.background]="settings.background">
      <ion-title>
        {{ story.title }}
      </ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="toggleSearch()" [tooltip]="'STORYVIEW_SEARCH' | translate" event="press" navTooltip>
          <ion-icon name="search" [style.color]="settings.color"></ion-icon>
        </button>

        <button
          ion-button
          icon-only
          *ngIf="user.isLoggedIn()"
          (click)="openListPicker($event)"
          [tooltip]="'BOOKMARK_BUTTON' | translate"
          event="press"
          navTooltip
        >
          <ion-icon name="bookmark" [style.color]="settings.color"></ion-icon>
        </button>

        <button
          ion-button
          icon-only
          *ngIf="story?.series && !appSettings.allSettings.offlineMode"
          (click)="showSeries(story)"
          [tooltip]="'STORYDETAIL_SERIES' | translate"
          event="press"
          navTooltip
        >
          <ion-icon name="albums" [style.color]="settings.color"></ion-icon>
        </button>

        <button ion-button icon-only (click)="showInfo(story)" [tooltip]="'STORY_TOOLTIP_SHOWINFO' | translate" event="press" navTooltip>
          <ion-icon name="information-circle" [style.color]="settings.color"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

  <div
    *ngIf="searchOpen"
    class="search-bar {{enableImmersive ? 'immersive' : ''}}"
    [style.background]="settings.background"
    [style.color]="settings.color"
    [style.borderColor]="settings.color"
  >
    <input
      type="search"
      [(ngModel)]="searchQuery"
      (ngModelChange)="onSearchInput()"
      (keyup.enter)="nextMatch()"
      [placeholder]="'STORYVIEW_SEARCH_PLACEHOLDER' | translate"
      [style.color]="settings.color"
    />
    <span class="search-count">
      <ng-container *ngIf="searchMatches.length > 0">{{ currentMatchIdx + 1 }} / {{ searchMatches.length }}</ng-container>
      <ng-container *ngIf="searchMatches.length === 0 && searchQuery.length >= 2">0</ng-container>
    </span>
    <button ion-button icon-only clear (click)="prevMatch()" [disabled]="searchMatches.length === 0">
      <ion-icon name="arrow-up" [style.color]="settings.color"></ion-icon>
    </button>
    <button ion-button icon-only clear (click)="nextMatch()" [disabled]="searchMatches.length === 0">
      <ion-icon name="arrow-down" [style.color]="settings.color"></ion-icon>
    </button>
    <button ion-button icon-only clear (click)="closeSearch()">
      <ion-icon name="close" [style.color]="settings.color"></ion-icon>
    </button>
  </div>

  <ion-content
    *ngIf="!settings.continuousMode"
    [fullscreen]="enableImmersive ? true : undefined"
    class="{{inFullscreen ? 'fullscreen' : ''}} {{enableImmersive ? 'immersive': ''}}"
  >
    <ion-slides
      ion-fixed
      #slidesElement
      (ionSlideDidChange)="slideChanged()"
      [slidesPerView]="slidesPerView"
      [dir]="dir"
      (click)="clickSlides($event)"
      [style.fontSize]="settings.fontsize + 'px'"
      [style.lineHeight]="settings.lineheight + 'px'"
      [style.fontFamily]="settings.font + ', sans-serif'"
      [style.textAlign]="settings.textalign"
      [style.background]="settings.background"
      [style.color]="settings.color"
    >
      <ion-slide *ngFor="let slide of slides; let i=index">
        <ng-container *ngIf="Math.abs(slidesElement.getActiveIndex() - i) < 5">
          <ng-scrollbar autoHide="true" [thumbClass]="settings.theme">
            <div id="slide-content" [innerHTML]="slide.content"></div>

            <div *ngIf="alternatePagination" class="alternate-buttons">
              <button ion-button (click)="prevSlide($event)" [color]="settings.buttonStyle">
                <ion-icon name="md-arrow-dropleft-circle"></ion-icon>&nbsp; {{'STORYVIEW_PREV' | translate}}
              </button>
              <button ion-button (click)="nextSlide($event)" [color]="settings.buttonStyle">
                {{'STORYVIEW_NEXT' | translate}} &nbsp;<ion-icon name="md-arrow-dropright-circle"></ion-icon>
              </button>
            </div>
          </ng-scrollbar>
        </ng-container>
      </ion-slide>
    </ion-slides>
  </ion-content>

  <ion-content
    *ngIf="settings.continuousMode"
    [fullscreen]="enableImmersive ? true : undefined"
    class="continuous-content {{inFullscreen ? 'fullscreen' : ''}} {{enableImmersive ? 'immersive': ''}}"
    (click)="clickSlides($event)"
    [style.background]="settings.background"
    [style.color]="settings.color"
  >
    <div
      class="continuous-stack"
      [style.fontSize]="settings.fontsize + 'px'"
      [style.lineHeight]="settings.lineheight + 'px'"
      [style.fontFamily]="settings.font + ', sans-serif'"
      [style.textAlign]="settings.textalign"
    >
      <div
        #continuousPage
        *ngFor="let slide of slides; let i=index"
        class="continuous-page"
        [attr.data-page]="i"
        [style.minHeight.px]="pageHeights[i] || estimatedPageHeight"
      >
        <div
          *ngIf="materialized[i]"
          class="continuous-page-content"
          [class.first]="i === 0"
          [class.last]="i === slides.length - 1"
          [innerHTML]="slide.content"
        ></div>
      </div>
    </div>
  </ion-content>

  <div
    class="pagination {{inFullscreen ? 'fullscreen' : ''}} {{enableImmersive ? 'immersive': ''}}"
    [style.background]="settings.background"
    [style.color]="settings.color"
  >
    <button ion-button icon-only clear (click)="showPopover($event)">
      <ion-icon name="settings" [style.color]="settings.color"></ion-icon>
    </button>

    <ion-range
      #range
      (ionChange)="slideSelectionChange($event)"
      *ngIf="slides.length > 1"
      pin="true"
      [snaps]="slides.length < 15"
      step="1"
      min="1"
      [max]="slides.length"
    ></ion-range>

    <span class="count"
      >{{Math.min(slides.length, (settings.continuousMode ? lastActivePage : (slidesElement?.getActiveIndex() || 0)) + 1)}} /
      {{slides.length}}</span
    >
  </div>
</div>
