memo-popover {
  .memo-editor {
    margin: 0;
    min-width: 280px;
  }

  .memo-actions {
    text-align: right;

    button {
      margin: 0 4px;
    }
  }

  ion-textarea textarea {
    min-height: 120px;
  }
}
