<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title
      >{{ (onlyDownloaded?'HISTORY_TITLE_DOWNLOADED':'HISTORY_TITLE') | translate }}
      ({{filteredStories.length}}<small>/{{HISTORY_LIMIT}}</small>)</ion-title
    >
    <ion-buttons end>
      <button end ion-button icon-only (click)="openSortPopover($event)" [tooltip]="'SORT_TITLE' | translate" event="press" navTooltip>
        <ion-icon name="funnel"></ion-icon>
      </button>

      <button
        *ngIf="!onlyDownloaded && filteredStories.length > 0"
        end
        ion-button
        icon-only
        (click)="clearAll()"
        [tooltip]="'HISTORY_TOOLTIP_CLEAR' | translate"
        event="press"
        navTooltip
      >
        <ion-icon name="trash"></ion-icon>
      </button>

      <button
        end
        ion-button
        icon-only
        (click)="toggleDownloaded()"
        [tooltip]="'HISTORY_TOOLTIP_DOWNLOADS' | translate"
        event="press"
        navTooltip
        *ngIf="!settings.allSettings.offlineMode"
      >
        <ion-icon [name]="onlyDownloaded ? 'cloud' : 'cloud-download'"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar *ngIf="!onlyDownloaded">
    <ion-segment [(ngModel)]="openSegment" (ionChange)="segmentChanged()">
      <ion-segment-button value="history">{{ 'HISTORY_TITLE' | translate }}</ion-segment-button>
      <ion-segment-button value="series">
        {{ 'HISTORY_TAB_SERIES' | translate }}
        <ion-badge *ngIf="newChapters.length" color="secondary">{{ newChapters.length }}</ion-badge>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ng-container *ngIf="onlyDownloaded || openSegment === 'history'">
    <p *ngIf="!filteredStories.length" class="empty-placeholder">
      {{ 'HISTORY_EMPTY' | translate:{HISTORY_LIMIT: HISTORY_LIMIT} }}
    </p>
    <ng-container *ngIf="filteredStories.length">
      <story-list
        [stories]="filteredStories | orderBy: sortMethod"
        (onDeleteBySwiping)="delete($event)"
        (onDownloadBySwiping)="download($event)"
        ishistory="true"
        [forceNormal]="true"
      >
      </story-list>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="!onlyDownloaded && openSegment === 'series'">
    <ng-container *ngIf="newChapters.length">
      <h2>
        <ion-icon name="notifications" color="secondary"></ion-icon>
        {{ 'HISTORY_NEW_CHAPTERS' | translate }} ({{ newChapters.length }})
      </h2>
      <story-list-normal [stories]="newChapters" ishistory="false"></story-list-normal>
    </ng-container>

    <ng-container *ngIf="inProgress.length">
      <h2>
        <ion-icon name="bookmarks"></ion-icon>
        {{ 'HISTORY_CONTINUE_READING' | translate }} ({{ inProgress.length }})
      </h2>
      <story-list-normal [stories]="inProgress" ishistory="true"></story-list-normal>
    </ng-container>

    <p *ngIf="!newChapters.length && !inProgress.length" class="empty-placeholder">
      {{ 'HISTORY_SERIES_EMPTY' | translate }}
    </p>
  </ng-container>
</ion-content>
