<ion-header>
  <ion-navbar>
    <ion-title>
      {{ titleKey | translate }}
      <small *ngIf="total"> ({{ total | number }})</small>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p *ngIf="!loading && !users.length" class="empty-placeholder">
    {{ 'USERLIST_EMPTY' | translate }}
  </p>

  <ion-list>
    <author-list-item
      *ngFor="let u of users"
      [author]="u"
      (itemClick)="openUser(u)"
    ></author-list-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
