@import '../../theme/tokens';

story-list-normal {
  .empty {
    text-align: center;
    border-top: none;
    color: $text-muted;
    margin: 0;
    padding-top: 10px;
  }

  .item-divider {
    background: none;
    text-align: center;
    border: none;
    margin-top: 7px;
    color: $text-secondary;
    font-weight: 600;
  }

  .list-md .item-block .item-inner {
    border-color: $divider;
  }
}
