<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'EXPLORE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header (click)="foldCats = !foldCats">
      <ion-icon [name]="foldCats ? 'arrow-dropright':'arrow-dropdown'"></ion-icon>
      {{ 'CATEGORIES' | translate }}
    </ion-card-header>

    <ion-card-content>
      <ion-list [class.folded]="foldCats">
        <ion-item-group *ngFor="let catGrp of groupedCats">
          <div ion-item *ngFor="let cat of catGrp">
            <h2>{{ cat.name }}</h2>
            <div class="row">
              <p>{{ cat.description }}</p>
              <div>
                <button ion-button outline item-end (click)="openCategory(cat, 'top')">
                  {{ 'EXPLORE_TOP' | translate }}
                </button>
                <button ion-button outline item-end (click)="openCategory(cat, 'new')">
                  {{ 'EXPLORE_NEW' | translate }}
                </button>
                <button ion-button outline item-end (click)="openCategory(cat, 'random')">
                  {{ 'EXPLORE_RANDOM' | translate }}
                </button>
                <button
                  *ngIf="cat.type !== 'master'"
                  ion-button
                  outline
                  icon-only
                  color="danger"
                  item-end
                  (click)="blockCategory(cat, $event)"
                  [attr.aria-label]="'STORYACTION_BLOCK_CATEGORY' | translate"
                >
                  <ion-icon name="eye-off"></ion-icon>
                </button>
              </div>
            </div>
          </div>
          <ion-item-divider></ion-item-divider>
        </ion-item-group>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header (click)="foldTags = !foldTags">
      <ion-icon [name]="foldTags ? 'arrow-dropright':'arrow-dropdown'"></ion-icon>
      {{ 'EXPLORE_TOPTAGS' | translate }}
    </ion-card-header>

    <ion-card-content>
      <ion-spinner name="crescent" *ngIf="!popularTags.length"></ion-spinner>

      <ion-list [class.folded]="foldTags">
        <ion-item *ngFor="let tag of popularTags">
          <h2 (click)="openTag(tag.tag)" tappable>{{ tag.tag }} <small>({{ tag.cnt }})</small></h2>
          <button
            ion-button
            icon-only
            clear
            color="danger"
            item-end
            (click)="blockTag(tag, $event)"
            [attr.aria-label]="'STORYACTION_BLOCK_TAG' | translate"
          >
            <ion-icon name="eye-off"></ion-icon>
          </button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
